<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.180383956528-k9g94a4ii4p8mk94jgg7rrk52fucbi9f</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>180383956528-k9g94a4ii4p8mk94jgg7rrk52fucbi9f.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-Medium.ttf</string>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
	</array>
</dict>
</plist>
